* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.aku{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(img/bgi.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 8% 0 8%;
}
.logo{
    color: #2ce70f;
    font-size: 35px;
    letter-spacing: 1px;
    cursor:pointer;
}
span{
    color: #008000;
}
nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
nav ul li a:hover{
    color:#2ce70f;
    transition: .4s;
}
.btn{
    background: #2ce70f;
    color:#fafafa;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}
.btn:hover{
    transform: scale(1.2);
}
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY();
}
h1{
    color:#fff;
    font-size: 65px;
    margin: 10px 0px 10px;
}
h3{
    color:#fff;
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color:#2ce70f;
    letter-spacing: 2px;
    font-size: 20px;
}
.news form{
    width: 380px;
    max-width: 100%;
    position: relative;
}
.news form input:first-child{
    display:inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #29c21e;
    outline: none;
    border-radius: 10px;
}
.news form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    padding: 10px 30px;
    border: none;
    border-radius: 30px;
    background-color: #29c21e;
    box-shadow: 0 0 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
}
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}
.about img{
    height: auto;
    width: 430px;
    border-radius: 30px;
}
.about-text{
    width: 530px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color:#fff;
    letter-spacing: 2px;
    font-size: 30px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text h4{
    color: #fff;
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: #fcfcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{
    background-color: rgb(239, 186, 117);
    color: #ffffffe4;
    border: 2px solid transparent;
    font-weight: solid;
    padding: 13px 30px;
    border-radius: 20px;
    transition: .4s;
}
button:hover{
    background-color: transparent;
    border: 2px solid antiquewhite;
    cursor: pointer;
}
.contact{
    background: #101010;
    width: 100%;
    padding: 100px 0;
}
.title h2{
    color: #fafafa;
    font-size: 30px;
    width: 1130px;
    text-align: center;
    margin: auto;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    text-align: center;
}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0;
    color: aliceblue;
}
h5{
    color: #fcfcfc;
    font-size: 20px;
    margin-bottom: 15px;
}
.pra p{
    color:#fcfcfc;
    font-size: 17px;
    line-height: 27px;
    margin-bottom: 25;
}
.card .button{
    background-color: rgb(31, 165, 31);
    color: #fcfcfc;
    text-decoration: none;
    border: 1px solid transparent;
    font-weight: solid;
    padding: 9px 20px;
    border-radius: 20px;
}
.card .button:hover{
    background-color: transparent;
    border: 2px solid rgb(34, 193, 23);
    cursor: pointer;
}
footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p:nth-child(1){
    font-size: 20px;
    color: #fafafa;
    margin-bottom: 20px;
    font-weight: bold;
}
footer p:nth-child(2){
    font-size: 20px;
    color: #fafafa;
    text-align: center;
    margin-bottom: 20px;
}
.end{
    font-size: 15px;
    color: #fafafa;
    margin-bottom: 20px;
    font-weight: bold;
}
